// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



li {
  list-style-type: none;
}

.events-container{
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #E7EAEC;
  background-color: #FFF;
  width: 70%;
  position:relative;

}

.event-date{
  width: 75px;
  min-width: 75px;
  height: 65px;
  border-right: 1px solid #CFD4D9;
  display: table-cell;
  vertical-align: middle;

}

.event {
    position: relative;
    padding: 10px;
    border-top: 1px solid #E7EAEC;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(231, 234, 236);

}


.day {
    width: 100%;
    color: #00A1A1;
    font-weight: 500;
    font-family: 'Interstate', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
    letter-spacing: -0.2px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}

.month-day{
  font-size: 12px;
  width: 100%;
  height: auto;
  color: #87909A;
  display: block;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.1px;
  margin-top: 2px;
  text-align: center;
  text-transform: uppercase;

}




.event-price{
  min-width: 165px;
  padding-right: 10px;
  vertical-align: top;
  font-size: 12px;
  text-align: right;
  display: table-cell;
}

.event-price .from{
  color: #87909A;
}

.event-price .price{
  font-size: 18px;
  color: #4E2287;
  font-family: Interstate,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
}

.event-info{
  text-decoration: none;
    padding: 0 30px;
    vertical-align: top;
    width: 100%;
    display: table-cell;
    color: #085F99;
}
